<header class="header-nav">
    <p class="logo">Flask Journal</p>
    <nav>
      <ul class="nav_links">
        <li><a class="nav_link" href="{{ url_for('pages.index') }}">Home</a></li>
        {% if current_user.is_authenticated %}
          <li><a class="nav_link" href="{{ url_for('pages.user', username=current_user.username) }}">Profile</a></li>
          <li><a class="nav_link" href="{{ url_for('pages.logout') }}">Logout</a></li>
        {% else %}
          <li><a class="nav_link" href="{{ url_for('pages.login') }}">Login</a></li>
        {% endif %}
        
      </ul>
    </nav>
    
</header>