{% extends "base_main.html" %}

{% block head_content %} 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}

{% block main_content %}
  <section class="profile_section">
      <img class="user_img" src="{{ user.avatar(128) }}">
      <div class="user_info">
        <p class="info_title">
          {% if user.firstname %}
            {{ user.firstname }}
          {% else %}
            {{ user.username }}
          {% endif %}
          {% if user.lastname %}
            {{ user.lastname }}
          {% endif %}
        </p>
        <ul>
          <li><span class="list_category">User ID:</span>  {{ user.username }}</li>
          <li>
            <span class="list_category">Last seen:</span> 
            {% if user.last_seen %} 
              {{ moment(user.last_seen).format('LLL') }}
            {% endif %} 
          </li>
          <li>{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}</li>

          <li>{{ user.followers_count() }} Follower {{ user.following_count() }} Following</li>
        </ul>

      </div>
    </section>
  {% endblock %}