{% extends 'base_main.html'%}


{% block head_content %} 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/modal.css') }}">
  <script defer src="{{ url_for('static', filename='scripts/profile.js') }}"></script>
{% endblock %}

{% block main_content %}

  {% if current_user.is_authenticated %}
    <!-- TODO Remove in production -->
    <h2>{{_('Hello')}}, {{ current_user.username }}!</h2>
  {% else %}
    <h1>{{_('Welcome to my Flash Journal!')}}</h1>
  {% endif %}

  <h1>{{ page_title }}</h1>
  
  <div class="section">

    {% for post in posts %}
      {% include '_post.html' %}
    {% endfor %}
  </div>

  <div class="pagination">
    {% if pagination.has_prev %}
        <a href="{{ url_for('pages.index', page=pagination.prev_num) }}">
          {{_('Previous')}}
        </a>
    {% else %}
        <span>{{_('Previous')}}</span>
    {% endif %}

    <span>Page {{ pagination.page }} of {{ pagination.pages }}</span>

    {% if pagination.has_next %}
        <a href="{{ url_for('pages.index', page=pagination.next_num) }}">
          {{_('Next')}}
        </a>
    {% else %}
        <span>{{_('Next')}}</span>
    {% endif %}
  </div>

  <div id="profileModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div id="profileContent">
        <!-- Profile details will be loaded here -->
      </div>
    </div>
  </div>

{% endblock %}