{% extends "base_main.html" %}

{% block head_content %} 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/profile.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/forms.css') }}">
{% endblock %}

{% block main_content %}

  <!-- Footer section -->
  {% include '_profile.html' %}


  <div class="section">
    {% for post in posts %}
      {% include '_post.html' %}
    {% endfor %}
  </div>

  <div class="pagination">
    {% if pagination.has_prev %}
        <a href="{{ url_for('pages.user', username=user.username, page=pagination.prev_num) }}">
          Previous
        </a>
    {% else %}
        <span>Previous</span>
    {% endif %}

    <span>Page {{ pagination.page }} of {{ pagination.pages }}</span>

    {% if pagination.has_next %}
        <a href="{{ url_for('pages.user', username=user.username, page=pagination.next_num) }}">
          Next
        </a>
    {% else %}
        <span>Next</span>
    {% endif %}
  </div>

{% endblock %}